.place__url-heading {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.2em;
  color: #AAAAAA;
  margin-bottom: 12px;
  text-decoration: none;
}

.place__url-heading:hover {
  opacity: 0.8;
  text-decoration: underline;
}
