.page {
  width: 100%;
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: #2A2C2F;
  color: #FFFFFF;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
/*
@media screen and (min-width: 768px) {
  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 16px;
    column-gap: 16px;
    padding-top: 88px;
  }
}

@media screen and (min-width: 1024px) {
  .photo-grid {
    padding-top: 92px;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1280px) {
  .photo-grid {
  grid-template-columns: repeat(4, 1fr);
  }
} */
