.cover__subtitle {
  max-width: 360px;
  min-width: 288px;
  /* min-height: 70px; */
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  margin: 0;
  width: 90%;
  position: relative;
}

@media screen and (min-width: 768px) {
  .cover__subtitle {
    font-size: 18px;
    line-height: 1.22;
  }
}
