.header__logo {
  width: 44.375vw;
  /* height: 13.125vw; */
  height: 15vw;
  /* max-width: 142px;
  max-height: 48px; */
}

@media screen and (min-width: 321px) {
  .header__logo {
    max-width: 176px;
    max-height: 52px;
  }
}
