.lead__image {
  width: 100vw;
  height: 62.5vw;
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .lead__image {
    width: 100vw;
    height: 62.5vw;
  }
}

  @media screen and (min-width: 1024px) {
    .lead__image {
      width: 90.625vw;
      height: calc(580 / 1024 * 100vw);
      max-width: 984px;
      max-height: 615px;
    }
  }

  @media screen and (min-width: 1280px) {
    .lead__image {
      width: calc(984 / 1024 * 100vw);
      height: calc(615 / 1024 * 100vw);
    }
  }
